<div class="row">
    <div class="col-sx-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control"/>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input id='amount' type="number" class="form-control"/>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success " style="margin-right: 10px;" type="submit">Add</button>
                    <button  class="btn btn-danger " style="margin-right: 10px;" type="button">Edit</button>
                    <button  class="btn btn-primary " style="margin-right: 10px;" type="button">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>